Makefile
*.in
Makefile
.deps
*.m4
./config.h
stamp-h1
configure
config.log
config.status
ltain.sh
autom4te.cache
m4/*.m4
build/m4/*.m4
libtool
test-driver
build/ltmain.sh
build/test-driver
lib/*.in
lib/*.o
lib/*.a
lib/Makefile
lib/.deps
mandelbrot/*.in
mandelbrot/*.o
mandelbrot/Makefile
mandelbrot/.deps
mandelbrot/mandelbrot
julia1/*.in
julia1/*.o
julia1/Makefile
julia1/.deps
julia1/julia1
buddhabrot1/*.in
buddhabrot1/*.o
buddhabrot1/Makefile
buddhabrot1/.deps
buddhabrot1/buddhabrot1
examples/*.in
examples/*.o
examples/Makefile
examples/.deps
examples/dragon
examples/sierpinski
.*.swp
*.bmp
*.png
*.jpg
*/*.bmp
*/*.jpg
# Cannot wildcard png, because
# I have versioned png/*.png
mandelbrot/*.png
examples/*.png
julia1/*.png
buddhabrot1/*.png
