Makefile
*.in
Makefile
.deps
*.m4
./config.h
stamp-h1
configure
config.log
config.status
ltain.sh
autom4te.cache
m4/*.m4
build/m4/*.m4
libtool
test-driver
build/ltmain.sh
build/test-driver
lib/*.in
lib/*.o
lib/*.a
lib/Makefile
lib/.deps
mbrot2/*.in
mbrot2/*.o
mbrot2/Makefile
mbrot2/.deps
mbrot2/mbrot2
julia1/*.in
julia1/*.o
julia1/Makefile
julia1/.deps
julia1/julia1
bbrot2/*.in
bbrot2/*.o
bbrot2/Makefile
bbrot2/.deps
bbrot2/bbrot2
examples/*.in
examples/*.o
examples/Makefile
examples/.deps
examples/dragon
examples/sierpinski
.*.swp
*.bmp
*.png
*.jpg
*/*.bmp
*/*.jpg
# Cannot wildcard png, because
# I have versioned png/*.png
mbrot2/*.png
examples/*.png
julia1/*.png
bbrot2/*.png
